.master-layout-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #303030;
  color: #dadada;
  width: 100%;
  border-bottom: 1px solid #757575;
  padding: 1rem;
}
.main-content {
  flex: 1;
}
