.master-layout-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #303030;
  color: #f9fafb;
  width: 100%;
  margin-bottom: 1px;
  padding: 1rem;
}
.main-content {
  flex: 1;
}
